<div class="row" *ngFor="let kitten of kittens">
  <span class="d-flex py-3">
    <h2 class="pe-3">{{kitten.name}}</h2>
    <a *ngIf="kitten.adopted === false" href="{{kitten.url}}">
      <button class="btn btn-primary" title="Go to my adoption page!">Adopt me!</button>
    </a>
    <h2 *ngIf="kitten.adopted === true" class="mdi mdi-check-bold">Adopted!</h2>
  </span>
  <div class="row justify-content-between mb-3" *ngIf="kitten.images.length > 0">
    <div *ngFor="let image of kitten.images" class="col-md-3 d-flex justify-content-center">
      <a href="{{image}}">
        <div class="card rounded border-0 p-3 bg-dark" style="width: 18rem;">
          <img :src="{{image}}" class="card-img-top" alt="...">
        </div>
      </a>
    </div>
  </div>
</div>